<% include partials/top %>

<div id="homeContainer" class="container">

  <h1 class="text-center">Profile Page</h1>

  <img class="w-25 rounded-circle mx-auto d-block" src="<%= user.avatar %>">

  <table class="table mt-3">
    
    <thead class="table-primary">
      
      <tr>
        
        <th></th>
        <th></th>

      </tr>

    </thead>

    <tbody>
      
      <tr>
        
        <th>Email</th>
        <th><%= user.email %></th>

      </tr>

        <tr>
          <th>First</th>
          <th><%= user.firstName %></th>
        </tr>

        <tr>
          <th>Last</th>
          <th><%= user.lastName %></th>
        </tr>

        <tr>
          <th>Title</th>
          <th><%= user.jobTitle %></th>
        </tr>

      <tr>
        
        <th>Avatar</th>
        <th><%= user.avatar %></th>

      </tr>

    </tbody>

  </table>

  <a class="btn btn-lg btn-lg btn-outline-primary btn-block" href="/users/<%= user._id %>/edit">Edit User</a>

  <a class="btn btn-lg btn-lg btn-outline-primary btn-block" href="/blogs/<%= user._id %>/list">View My Blogs</a>

  </div>

</div>

<% include partials/bottom %>
